Import the following libraries to run cnn_classification.py:
- os 
- sys
- tensorflow
- from tensorflow.keras.applications.vgg16 import (preprocess_input, decode_predictions, VGG16)
- from tensorflow.keras.datasets import cifar10
- from tensorflow.keras.layers import (Flatten, Dense) 
- from tensorflow.keras.models import Model
- from tensorflow.keras.optimizers.schedules import ExponentialDecay
- from tensorflow.keras.optimizers import SGD
- from sklearn.preprocessing import LabelBinarizer
- from sklearn.metrics import classification_report
- numpy
- matplotlib.pyplot
- argparse
